
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
        {% if images %}
            {% for image in images %}
            <div class="col-sm-6 col-lg-4">
              <div class="card">
                <img src="{{image.get_thumbnail_url}}" alt="Image" style="height: 225px; width: 100%">
                <div class="card-body">
                  <h5 class="card-title">{{image.image_title}}</h5>
                  <p class="card-text">
                    {{image.image_description}}
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >{{image.created_at}}</small
                    >
                  </p>
                </div>
              </div>
            </div>
            {% endfor %}
        {% else %}
            <h3 class="d-flex justify-content-center">No images</h3>
        {% endif %}
      </div>
  </div>