{% load crispy_forms_tags %}
<div class="service-card h-100 p-4">
    {% crispy form %}
    <button class="btn btn-primary btn-sm"
          hx-post="{% url 'notes:section_create' topic.id %}"
          hx-include="#hx-section-form"
          hx-target="#create-section"
    >
      Create
    </button>
    <button class="btn btn-secondary btn-sm"
            hx-get="{% url 'notes:topic_detail' topic.id %}"
            hx-target="#create-section"
            hx-select="#create-section"
            hx-swap="outerHTML"
    >
      Cancel
    </button>
</div>