
<!-- Modals -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered" id="logoutModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>


<div class="modal fade" id="detailTaskModal" tabindex="-1" aria-labelledby="detailTaskModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" id="detailTaskModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>

<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" id="createTaskModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>