{% extends 'partials/django_tables2/base_django_table.html' %}

{% load django_tables2 %}

{% block table.thead %}
{% if table.show_header %}
    <thead {{ table.attrs.thead.as_html }}>
    <tr>
    {% for column in table.columns %}
        <th {{ column.attrs.th.as_html }} scope="col">
            {% if column.orderable %}
                <a href="#"
                   hx-get="{{ request.path }}{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                   hx-target="closest .table-container"
                   {% if table.table_container_id %}
                        hx-select="#{{ table.table_container_id }}"
                   {% else %}
                        hx-select=".table-container"
                   {% endif %}
                   hx-swap="outerHTML"
                >
                    {{ column.header }}
                </a>
            {% else %}
                {{ column.header }}
            {% endif %}
        </th>
    {% endfor %}
    </tr>
    </thead>
{% endif %}
{% endblock table.thead %}


{% block pagination %}
    {% if table.page and table.paginator.num_pages > 1 %}
    <nav aria-label="Table navigation">
        <ul class="pagination justify-content-center"
                hx-target="closest .table-container"
           {% if table.table_container_id %}
                hx-select="#{{ table.table_container_id }}"
           {% else %}
                hx-select=".table-container"
           {% endif %}
           hx-swap="outerHTML">
        {% if table.page.has_previous %}
            {% block pagination.previous %}
            <li class="previous page-item">
                <a href="#"
                   class="page-link"
                   hx-get="{{ request.path }}{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endblock pagination.previous %}
        {% endif %}
        {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.range %}
        {% for p in table.page|table_page_range:table.paginator %}
            <li class="page-item{% if table.page.number == p %} active{% endif %}">
                <a class="page-link"
                   {% if p != '...' %}
                    href="#"
                    hx-get="{{ request.path }}{% querystring table.prefixed_page_field=p %}"
                   {% endif %}>
                    {{ p }}
                </a>
            </li>
        {% endfor %}
        {% endblock pagination.range %}
        {% endif %}
        {% if table.page.has_next %}
            {% block pagination.next %}
            <li class="next page-item">
                <a href="#"
                   class="page-link"
                   hx-get="{{ request.path }}{% querystring table.prefixed_page_field=table.page.next_page_number %}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endblock pagination.next %}
        {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock pagination %}

