{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'notes/style.css' %}">
{% endblock css %}

{% block header %}
<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb breadcrumb-chevron p-3 rounded-3"
    >
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'index' %}">
          <svg class="bi" width="16" height="16" aria-hidden="true">
            <use xlink:href="#house-door-fill"></use>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'notes:topic_list' %}">Notes</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a href="{{ section.topic.get_absolute_url }}">{{ section.topic.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ section.title }}</li>
    </ol>
  </nav>
</div>

{% endblock header %}
{% block content %}
{#<div class="px-3 py-2 border-bottom mb-3">#}
{#  <div class="container">#}
{#    <form#}
{#      class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"#}
{#      role="search"#}
{#    >#}
{#      <input#}
{#        type="search"#}
{#        name="search"#}
{#        class="form-control"#}
{#        placeholder="Search..."#}
{#        aria-label="Search"#}
{#      />#}
{#    </form>#}
{#  </div>#}
{#</div>#}

<div class="container">
    <div class="col-12 text-center mb-3">
        <span class="custom-badge text-white mb-3 d-inline-block">{{ section.title }}</span>
        {% if section.description %}<p class="text-muted">{{ section.description }}</p>{% endif %}
    </div>
    <div class="custom-tabs">
    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs row g-4 row-cols-1 row-cols-lg-4" id="sectionTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active"
                id="codes-tab"
                data-bs-toggle="tab"
                data-bs-target="#codes"
                type="button"
                role="tab"
                aria-controls="codes"
                aria-selected="true"
                hx-trigger="load, click"
                hx-get="{% url 'notes:code_list' section.id %}"
                hx-target="#codes"
                hx-swap="innerHTML"
        >
            Codes
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="articles-tab"
                data-bs-toggle="tab"
                data-bs-target="#articles"
                type="button"
                role="tab"
                aria-controls="articles"
                aria-selected="false"
                hx-get="{% url 'notes:article_list' section.id %}"
                hx-target="#articles"
                hx-swap="innerHTML"
        >
            Articles
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="images-tab"
                data-bs-toggle="tab"
                data-bs-target="#images"
                type="button"
                role="tab"
                aria-controls="images"
                aria-selected="false"
                hx-get="{% url 'notes:image_list' section.id %}"
                hx-target="#images"
                hx-swap="innerHTML"
        >
            Images
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="links-tab"
                data-bs-toggle="tab"
                data-bs-target="#links"
                type="button"
                role="tab"
                aria-controls="links"
                aria-selected="false"
                hx-get="{% url 'notes:link_list' section.id %}"
                hx-target="#links"
                hx-swap="innerHTML"
        >
            Links
        </button>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content p-4" id="sectionTabContent">

      <!-- Codes tab -->
      <div class="tab-pane fade show active" id="codes" role="tabpanel" aria-labelledby="codes-tab">
        <!-- HTMX will inject content here -->
      </div>

      <!-- Articles tab -->
      <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">
        <!-- HTMX will inject content here -->
      </div>

      <!-- Images tab -->
      <div class="tab-pane fade show active" id="images" role="tabpanel" aria-labelledby="images-tab">
        <!-- HTMX will inject content here -->
      </div>

      <!-- Links tab -->
      <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
        <!-- HTMX will inject content here -->
      </div>

    </div>
    </div>
</div>
{% endblock content %}