{% extends 'base.html' %}

{% block header %}
<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb breadcrumb-chevron p-3 rounded-3"
    >
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'index' %}">
          <svg class="bi" width="16" height="16" aria-hidden="true">
            <use xlink:href="#house-door-fill"></use>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Topics</li>
    </ol>
  </nav>
</div>
{% endblock header %}

{% block content %}
{% for topic in topics %}
    <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>

{% endfor %}
{% endblock content %}