{% extends 'base.htm' %}
{% load django_tables2 partials static %}

{% block css %}
<link rel="stylesheet" href="{% static 'tasks/style.css' %}">
{% endblock css %}

{% block header %}
<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3"
    >
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'index' %}">
          <svg class="bi" width="16" height="16" aria-hidden="true">
            <use xlink:href="#house-door-fill"></use>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Tasks</li>
    </ol>
  </nav>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="custom-tabs">
        <ul class="nav nav-tabs" id="tasks" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="active-tasks-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#active-tasks"
                        type="button"
                        role="tab"
                        aria-controls="active-tasks"
                        aria-selected="true"
                        hx-trigger="load, click, rerenderTaskTable from:body"
                        hx-get="{% url 'tasks:task_list' %}?status=in_progress"
                        hx-target="#active-tasks"
                        hx-select=".table-container"
                >
                    Active
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="completed-tasks-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#completed-tasks"
                        type="button" role="tab"
                        aria-controls="completed-tasks"
                        aria-selected="false"
                        hx-trigger="click, rerenderTaskTable from:body"
                        hx-get="{% url 'tasks:task_list' %}?status=completed"
                        hx-target="#completed-tasks"
                        hx-select=".table-container"
                >
                    Completed
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="canceled-tasks-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#canceled-tasks"
                        type="button" role="tab"
                        aria-controls="canceled-tasks"
                        aria-selected="false"
                        hx-trigger="click, rerenderTaskTable from:body"
                        hx-get="{% url 'tasks:task_list' %}?status=canceled"
                        hx-target="#canceled-tasks"
                        hx-select=".table-container"
                >
                    Canceled
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="all-tasks-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#all-tasks"
                        type="button" role="tab"
                        aria-controls="all-tasks"
                        aria-selected="false"
                        hx-trigger="click, rerenderTaskTable from:body"
                        hx-get="{% url 'tasks:task_list' %}"
                        hx-target="#all-tasks"
                        hx-select=".table-container"

                >
                    All
                </button>
            </li>
        </ul>
        <div class="tab-content" id="tasksContent">
            <div class="tab-pane fade show active" id="active-tasks" role="tabpanel" aria-labelledby="active-tasks-tab">
                <!-- HTMX will inject content here -->
            </div>
            <div class="tab-pane fade" id="completed-tasks" role="tabpanel" aria-labelledby="profile-tab">
                <!-- HTMX will inject content here -->
            </div>
            <div class="tab-pane fade" id="canceled-tasks" role="tabpanel" aria-labelledby="contact-tab">
                <!-- HTMX will inject content here -->
            </div>
            <div class="tab-pane fade" id="all-tasks" role="tabpanel" aria-labelledby="contact-tab">

            </div>
        </div>
    </div>
</div>

<!-- Partials -->
{% partialdef django_table %}
    {% render_table table %}
{% endpartialdef django_table %}

<!-- Modals -->
<div class="modal fade" id="createTaskModal" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" id="createTaskModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>

<div class="modal fade" id="detailTaskModal" tabindex="-1" aria-labelledby="detailTaskModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" id="detailTaskModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabLinks = document.querySelectorAll('.nav-link');
        const tabContents = document.querySelectorAll('.tab-pane');

        tabLinks.forEach(link => {
            link.addEventListener('click', function () {
                const targetId = this.getAttribute('data-bs-target').substring(1);
                const targetContent = document.getElementById(targetId);

                tabContents.forEach(content => {
                    content.classList.remove('fade-in');
                });

                setTimeout(() => {
                    targetContent.classList.add('fade-in');
                }, 50);
            });
        });
    });
</script>
{% endblock js %}



