{% extends 'base.html' %}
{% load django_tables2 partials static %}

{% block css %}
<link rel="stylesheet" href="{% static 'tasks/style.css' %}">
{% endblock css %}

{% block header %}
<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb breadcrumb-chevron p-3 rounded-3"
    >
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'index' %}">
          <svg class="bi" width="16" height="16" aria-hidden="true">
            <use xlink:href="#house-door-fill"></use>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Tasks</li>
    </ol>
  </nav>
</div>
{% endblock header %}

{% block content %}
<div id="tasks-root"  x-data="{active_tab: 'in_progress', task_status:'in_progress'}">
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container">
        <form
          class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto"
          role="search"
          hx-trigger="search, keyup delay:200ms changed"
          :hx-target="`#${active_tab}`"
          hx-get="{% url 'tasks:task_list' %}"
          hx-include="[name=search], [name=status]"
        >
          <input
            type="search"
            name="search"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
          />
            <input type="hidden" name="status" :value="task_status">
        </form>
      </div>
    </div>
    <div class="container">
        <div class="custom-tabs">
            <ul class="nav nav-tabs" id="tasks" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="in_progress-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#in_progress"
                            type="button" role="tab"
                            aria-controls="in_progress"
                            aria-selected="true"
                            hx-trigger="load once, click, rerenderTaskTable from:body"
                            hx-get="{% url 'tasks:task_list' %}?status=in_progress"
                            hx-target="#in_progress"
                            hx-select=".table-container"
                            x-on:click="active_tab='in_progress'; task_status='in_progress'"
                    >
                        Active
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="completed-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#completed"
                            type="button" role="tab"
                            aria-controls="completed"
                            aria-selected="false"
                            hx-trigger="click, rerenderTaskTable from:body"
                            hx-get="{% url 'tasks:task_list' %}?status=completed"
                            hx-target="#completed"
                            hx-select=".table-container"
                            x-on:click="active_tab='completed'; task_status='completed'"
                    >
                        Completed
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="canceled-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#canceled"
                            type="button" role="tab"
                            aria-controls="canceled"
                            aria-selected="false"
                            hx-trigger="click, rerenderTaskTable from:body"
                            hx-get="{% url 'tasks:task_list' %}?status=canceled"
                            hx-target="#canceled"
                            hx-select=".table-container"
                            x-on:click="active_tab='canceled'; task_status='canceled'"
                    >
                        Canceled
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="all-tasks-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#all-tasks"
                            type="button" role="tab"
                            aria-controls="all-tasks"
                            aria-selected="false"
                            hx-trigger="click, rerenderTaskTable from:body"
                            hx-get="{% url 'tasks:task_list' %}"
                            hx-target="#all-tasks"
                            hx-select=".table-container"
                            x-on:click="active_tab='all-tasks'; task_status=''"
                    >
                        All
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="planned-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#planned"
                            type="button" role="tab"
                            aria-controls="planned"
                            aria-selected="false"
                            hx-trigger="click, rerenderTaskTable from:body"
                            hx-get="{% url 'tasks:task_list' %}?status=is_planned"
                            hx-target="#planned"
                            hx-select=".table-container"
                            x-on:click="active_tab='planned'; task_status='is_planned'"
                    >
                        Planned
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="tasksContent">
                <div class="tab-pane fade show active" id="in_progress" role="tabpanel" aria-labelledby="in_progress-tab">
                    <!-- HTMX will inject content here -->
                </div>
                <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
                    <!-- HTMX will inject content here -->
                </div>
                <div class="tab-pane fade" id="canceled" role="tabpanel" aria-labelledby="canceled-tab">
                    <!-- HTMX will inject content here -->
                </div>
                <div class="tab-pane fade" id="all-tasks" role="tabpanel" aria-labelledby="all-tasks-tab">
                    <!-- HTMX will inject content here -->
                </div>
                <div class="tab-pane fade" id="planned" role="tabpanel" aria-labelledby="planned-tab">
                    <!-- HTMX will inject content here -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partials -->
{% partialdef django_table %}
    {% render_table table %}
{% endpartialdef django_table %}

{% endblock content %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabLinks = document.querySelectorAll('.nav-link');
        const tabContents = document.querySelectorAll('.tab-pane');

        tabLinks.forEach(link => {
            link.addEventListener('click', function () {
                const targetId = this.getAttribute('data-bs-target').substring(1);
                const targetContent = document.getElementById(targetId);

                tabContents.forEach(content => {
                    content.classList.remove('fade-in');
                });

                setTimeout(() => {
                    targetContent.classList.add('fade-in');
                }, 50);
            });
        });
    });
</script>
{% endblock js %}



