    <div class="px-3 py-2 border-bottom header-content">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
         <ul class="nav d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <li>
                <a class="nav-link text-white" href="#">Notebook</a>
            </li>
            <li>
                {% if tasks %}
                    <a class="nav-link text-white"
                       href="#"
                       data-bs-toggle="modal"
                       data-bs-target="#createTaskModal"
                       hx-get="{% url 'tasks:task_create' %}"
                       hx-target="#createTaskModalDialog"
                    >
                        Create task
                    </a>
                {% elif entries_list %}
                    <a class="nav-link text-white"
                       href="#"
                       data-bs-toggle="modal"
                       data-bs-target="#createEntriesModal"
                       hx-get="{% url 'daybook:entries_create' %}"
                       hx-target="#createEntriesModalDialog"
                    >
                        Create entries
                    </a>
                {% endif %}
            </li>
         </ul>
          <ul
            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
          >
            <li>
              <a href="{% url 'home:index' %}" class="nav-link text-white">
                <svg
                  class="bi d-block mx-auto mb-1"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use xlink:href="#home"></use>
                </svg>
                Home
              </a>
            </li>
            <li>
              <a href="{% url 'tasks:task_list' %}" class="nav-link text-white">
                <svg
                  class="bi d-block mx-auto mb-1"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use xlink:href="#table"></use>
                </svg>
                Tasks
              </a>
            </li>
            <li>
              <a href="{% url 'daybook:entries_list' %}" class="nav-link text-white">
                <svg
                  class="bi d-block mx-auto mb-1"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use xlink:href="#speedometer2"></use>
                </svg>
                Daybook
              </a>
            </li>

            <li>
              <a href="{% url 'notes:topic_list' %}" class="nav-link text-white">
                <svg
                  class="bi d-block mx-auto mb-1"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use xlink:href="#grid"></use>
                </svg>
                Notes
              </a>
            </li>
            <li>
              <a href="{% url 'chatbot:chat_list' %}" class="nav-link text-white">
                <svg
                  class="bi d-block mx-auto mb-1"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use xlink:href="#people-circle"></use>
                </svg>
                Helper
              </a>
            </li>
            <li>
              <a class="nav-link text-white"
                 href="#"
                 data-bs-toggle="modal"
                 data-bs-target="#logoutModal"
                 hx-get="{% url 'account_logout' %}"
                 hx-target="#logoutModalDialog"
              >
                <svg
                  class="bi d-block mx-auto mb-1"
                  width="24"
                  height="24"
                  aria-hidden="true"
                >
                  <use xlink:href="#logout"></use>
                </svg>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


