{% extends 'base.htm' %}

{% block header %}
<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3"
    >
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'index' %}">
          <svg class="bi" width="16" height="16" aria-hidden="true">
            <use xlink:href="#house-door-fill"></use>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Daybook</li>
      <li class="breadcrumb-item active" aria-current="page">Entries</li>
    </ol>
  </nav>
</div>
{% endblock header %}

{% block content %}
<div id="entries-article"
     hx-get="{% url 'daybook:entries_list' %}"
     hx-trigger="rerenderEntriesList from:body"
     hx-select="#entries-article"
     hx-swap="outerHTML"
>
{% for entry in entries_list %}
    <article class="mt-4">
        <h2 class="mb-1">
            {% if entry.title %}
                {{ entry.title }}
            {% endif %}
        </h2>
        <p class="blog-post-meta">
          {{ entry.created_at }}
        </p>
        <p>
          {{ entry.text|linebreaksbr }}
        </p>
        <hr />
    </article>
{% endfor %}
</div>


<!-- Modals -->
<div class="modal fade" id="createEntriesModal" tabindex="-1" aria-labelledby="createEntriesModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" id="createEntriesModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>

{% endblock content %}
