{% extends 'base.html' %}
{% load partials %}

{% block header %}
<div class="container my-3">
  <nav aria-label="breadcrumb">
    <ol
      class="breadcrumb breadcrumb-chevron p-3 rounded-3"
    >
      <li class="breadcrumb-item">
        <a class="link-body-emphasis" href="{% url 'index' %}">
          <svg class="bi" width="16" height="16" aria-hidden="true">
            <use xlink:href="#house-door-fill"></use>
          </svg>
          <span class="visually-hidden">Home</span>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Daybook</li>
      <li class="breadcrumb-item active" aria-current="page">Entries</li>
    </ol>
  </nav>
</div>
{% endblock header %}

{% block content %}
<div>
{% for entry in entries_list %}
    {% partialdef entry inline %}
    <article class="mt-4"
             id="entry-article-{{ entry.id }}"
             hx-get="{% url 'daybook:entries_detail' entry.id %}"
             hx-trigger="rerenderEntry{{ entry.id }} from:body"
             hx-swap="outerHTML"
    >
        <h2 class="mb-1">
            {% if entry.title %}
                {{ entry.title }}
            {% endif %}
        </h2>
        <div class="d-flex gap-2">
           <p class="blog-post-meta d-flex" >
              {{ entry.created_at }}
            </p>
            <a href="#"
               hx-get="{% url 'daybook:entries_update' entry.id %}"
               hx-swap="innerHTML"
               hx-target="#entry-text-{{ entry.id }}"
            >
              <i class="bi bi-pencil text-primary"></i>
            </a>
            <a href="#"
               hx-delete="{% url 'daybook:entries_delete' entry.id %}"
               hx-target="closest article"
               hx-swap='delete'
               hx-confirm="Delete entry?"
            >
                <i class="bi bi-trash text-danger"></i>
            </a>
        </div>
        <div id="entry-text-{{ entry.id }}">
            <p>
              {{ entry.text|linebreaksbr }}
            </p>
        </div>
        <hr />
    </article>
    {% endpartialdef entry %}
{% endfor %}
</div>

<!-- Modals -->
<div class="modal fade" id="createEntriesModal" tabindex="-1" aria-labelledby="createEntriesModalLabel" aria-hidden="true"
     _="on closeModal send click to .btn-close"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" id="createEntriesModalDialog">
    <!-- HTMX will inject content here -->
  </div>
</div>

{% endblock content %}
