
<style>
     {{ pygments_css|safe }}
</style>

<div class=""

     ws-connect="/ws/chat/{{ chat.id }}/stream/"
>
    <div class="chat-messages p-3" id="chat-log" >
        {% for message in chat.messages.all %}
            {% if message.is_ai_message %}
                <div class="mb-3">
                    <div class="d-flex p-2">
                        <i class="bi bi-robot me-2"></i>
                        <div id="ai-message-{{ messages.id }}">
                             {% if message.html_content %}
                                {{ message.html_content|safe }}
                            {% else %}
                                {{ message.content|linebreaksbr }}
                            {% endif %}
                        </div>
                    </div>
                    <small class="text-muted">{{ message.created_at }}</small>
                </div>
            {% else %}
                <div class="mb-3">
                    <div class="p-2 d-flex" id="user-message-{{ message.id }}">
                       <i class="bi bi-person-fill me-2"></i>
                        {% if message.html_content %}
                            {{ message.html_content|safe }}
                        {% else %}
                            {{ message.content|linebreaksbr }}
                        {% endif %}
                    </div>
                    <small class="text-muted">{{ message.created_at }}</small>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="message-input p-3">
        <form ws-send
              _="on htmx:wsBeforeSend reset() me"
        >
            <textarea name="message" cols="40" rows="10" class="textarea form-control" required="" id="id_text"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Send</button>
        </form>
    </div>
</div>