<div class="chat-messages p-3">
    {% for message in chat.messages.all %}
        {% if message.is_ai_message %}
            <div class="message mb-3 align-self-start">
                <div class="bg-light rounded p-2">
                    <strong>Ai:</strong> {{ message.html_content|safe }}
                </div>
                <small class="text-muted">{{ message.created_at }}</small>
            </div>
        {% else %}
            <div class="message mb-3 align-self-end">
                <div class="bg-primary text-white rounded p-2">
                    <strong>You:</strong> <br>{{ message.content|linebreaksbr }}
                </div>
                <small class="text-muted">{{ message.created_at }}</small>
            </div>
        {% endif %}
    {% endfor %}


{#    <div id="chat-stream-{{ chat.id }}"#}
{#         hx-ext="sse"#}
{#         sse-connect="{% url 'chatbot:chat_stream' chat.id %}"#}
{#         sse-swap="message"#}
{#         hx-swap="beforeend"#}
{#        hx-trigger="refresh"#}
{#    >#}
{#    </div>#}

</div>

<div class="message-input p-3"
     id="message-form"
     hx-get="{% url 'chatbot:messages_create' chat.id %}"
     hx-trigger="load once"
>

</div>